@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.head {
    background-color: rgb(57, 57, 223);
    padding: 1rem;
    color: white;
    text-align: center;
}

.main {
    height: calc(100vh - 2rem);
    display: flex;
}

.foot {
    background-color: rgb(57, 57, 113);
    color: aliceblue;
    padding: 1rem;
    text-align: center;
}

.left {
    height: calc(100vh - 2rem);
    width: 40vw;
    background: url(background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .odin {
    font-family: Norse-Bold, sans-serif, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20ch;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;

}

.odin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 60vw;
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5ch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right p {
    text-align: center;
    width: 60%;
    margin: 1rem;
}

.alert {
    font-weight: 800;
}

.right-form {
    display: flex;
    gap: 1rem;
}

.left-form {
    display: flex;
    gap: 1rem;
}

.agree {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
}

.left-form input,
.right-form input {
    width: 20ch;
}

form {
    height: 70vh;
    accent-color: green;
}

form .left-form,
form .right-form {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.left-form label,
.right-form label {
    width: 60%;
    margin-bottom: 0.5rem;
}

button {
    height: 2rem;
    width: 10rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: #8c9e7c;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
}

button:hover {
    color: aliceblue;
    background-color: black;
    border: black;
    border-radius: 0.3rem;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input:invalid {
    border: #fc0000;
}

input:focus {
    border: blue;
}